Repository maq77/GP14-26: changes, and which lint-staged commands are due for each by the changed paths.
All: dotnet format --include, black, ruff check --fix, eslint --fix, prettier --write

.lintstagedrc.json:

{
  "apps/api/**/*.cs": [
    "dotnet format --include"
  ],
  "apps/ai/**/*.py": [
    "black",
    "ruff check --fix"
  ],
  "apps/web/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "**/*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Protos-Gen
  infrastructure/terraform/top_secret.txt
Due: none

ProtoGen (#95)
  infrastructure/terraform/top_secret.txt
Due: none

ENV
  .gitignore
  apps/ai/.env
  apps/web/.env
  infrastructure/docker/.env
Due: none

ENV (#96)
  .gitignore
  apps/ai/.env
  apps/web/.env
  infrastructure/docker/.env
Due: none

docker-ready
  MakeFile
  apps/ai/Dockerfile
  apps/ai/requirements.txt
  apps/ai/src/api/lifespan/__init__.py
  apps/api/.vs/ProjectEvaluation/sssp.metadata.v9.bin
  apps/api/.vs/ProjectEvaluation/sssp.projects.v9.bin
  apps/api/.vs/ProjectEvaluation/sssp.strings.v9.bin
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/CodeChunks.db
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
  apps/api/.vs/SSSP/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
  apps/api/.vs/SSSP/DesignTimeBuild/.dtbcache.v2
  apps/api/.vs/SSSP/v17/.futdcache.v2
  apps/api/.vs/SSSP/v17/DocumentLayout.backup.json
  apps/api/.vs/SSSP/v17/DocumentLayout.json
  apps/api/Directory.Build.props
  apps/api/Dockerfile
  apps/api/NuGet.Config
  apps/api/NuGet.Docker.Config
  apps/api/docker-entrypoint-dev.sh
  apps/api/src/SSSP.Api/SSSP.Api.csproj
  apps/api/src/SSSP.BL/SSSP.BL.csproj
  apps/api/src/SSSP.DAL/SSSP.DAL.csproj
  apps/api/src/SSSP.Infrastructure.AI.Grpc/SSSP.Infrastructure.AI.Grpc.csproj
  apps/api/src/SSSP.Infrastructure.Persistence/SSSP.Infrastructure.Persistence.csproj
  infrastructure/docker/docker-compose-v3-test.yml
  infrastructure/docker/docker-compose-v4.yml
  infrastructure/docker/local/docker-compose.yaml
  scripts/dev.sh
Due: black, ruff check --fix, prettier --write

Resolve Cionflicts
  apps/ai/Dockerfile
  apps/ai/src/api/grpc/server.py
  apps/ai/src/api/grpc/servicers/face_servicer.py
  apps/ai/src/api/grpc/servicers/video_stream_servicer.py
  apps/ai/src/api/lifespan/manager.py
  apps/ai/src/api/main.py
  apps/ai/src/api/routes/detection.py
  apps/ai/src/services/ml/Face_Recognition_Service.py
  apps/api/Dockerfile
  infrastructure/docker/docker-compose-v3.yml
Due: black, ruff check --fix, prettier --write

added outboxmessage.cs
  apps/api/src/SSSP.DAL/Models/OutboxMessage.cs
Due: dotnet format --include
